/* Theme customisations */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 6em; // Allow for sticky footer. Fixed height-ish for now.
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-nav {
    text-transform: uppercase;
}
.navbar-brand {
    font-weight: 900;
}
.full-height {
    height: 100vh;
}
.svg-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    fill: $gray-300;
    margin: 10px;
    vertical-align: text-top;
    transition: all 0.2s;
}
.svg-icon:hover {
    fill: $white;
}

/* SVG/D3 bar charts */
.popover{
    color: $gray-900;
}
.svg-bg-gray-base{
    fill: $black;
}
.svg-bg-gray-base:hover{
    fill: $black;
}
.svg-bg-gray-darker{
    fill: $gray-900;
}
.svg-bg-gray-darker:hover{
    fill: $gray-800;
}
.svg-bg-gray-dark{
    fill: $gray-700;
}
.svg-bg-gray-dark:hover{
    fill: $gray-800;
}
.svg-bg-gray{
    fill: $gray-600;
}
.svg-bg-gray:hover{
    fill: $gray-700;
}
.svg-bg-gray-light{
    fill: $gray-300;
}
.svg-bg-gray-light:hover{
    fill: $gray-400;
}
.svg-bg-gray-lighter{
    fill: $gray-200;
}
.svg-bg-gray-lighter:hover{
    fill: $gray-300;
}
.svg-bg-primary{
    fill: $primary;
}
.svg-bg-primary:hover{
    fill: darken($primary, 10%);
}
.svg-bg-success{
    fill: $success;
}
.svg-bg-success:hover{
    fill: darken($success, 10%);
}
.svg-bg-info{
    fill: $info;
}
.svg-bg-info:hover{
    fill: darken($info, 10%);
}
.svg-bg-warning{
    fill: $warning;
}
.svg-bg-warning:hover{
    fill: darken($warning, 10%);
}
.svg-bg-danger{
    fill: $danger;
}
.svg-bg-danger:hover{
    fill: darken($danger, 10%);
}
.svg-barchart text{
    fill:black;
    font:10px sans-serif;
    text-anchor:end
}
.svg-barchart .axis text{
    font:10px sans-serif
}
.svg-barchart .axis path,.svg-barchart .axis line{
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges
}
.svg-barchart .line-primary{
    stroke: $primary;
    fill:none;
    stroke-width:2px
}
.svg-barchart .line-success{
    stroke: $success;
    fill:none;
    stroke-width:2px
}
.svg-barchart .line-info{
    stroke: $info;
    fill:none;
    stroke-width:2px
}
.svg-barchart .line-warning{
    stroke: $warning;
    fill:none;
    stroke-width:2px
}
.svg-barchart .line-danger{
    stroke:$danger;
    fill:none;
    stroke-width:2px
}
