<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {%- if page.jumbo -%}
      {% assign top_margin_style = '' %}
    {% else %}
      {% assign top_margin_style = 'pt-5 mt-3' %}
    {%- endif -%}

    <div class="container bg-light {{ top_margin_style }}">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>
  </body>

</html>
